{% extends 'base.html' %}}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-FAQpage{% endblock %}

{% block content %}

<div class="container">
     <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">

          {% if page.intro %}

          <div class="page-header">
                <h2> {{page.title}} </h2>
          </div>
                    {{page.intro}}

          {% else %}
                <h2> {{page.title}} </h2>
          {% endif %}

          <div class="spacersml"></div>
      </div>


    <h2>{{ value.heading}}</h2>

    {% for block in page.body %}
                {% include_block block %}
    {% endfor %}

</div>
</div>
</div>


      {% endblock %}
