<head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    div.spacermed {
    margin-top: 30px; }


[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

.fa { font-size: 100px;
}

div.col-sm-6 {text-align: center;}


</style></head>

<div class="col-sm-6 col-md-4 col-lg-3">
 <div class="card">
     <div class="spacermed"> </div>
        <i class="fa {{value.fa_icon}}" aria-hidden="true" ></i>
          <div class="spacermed"></div>
          <div class= "card-title" >
            <h3> {{value.caption}} </h3>
                <div class="spacermed"></div>
          </div>
      </div>
              <div class="spacermed"></div>
    </div>
