{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-ourresearchindexpage{% endblock %}

{% block content %}


<div class="container">
     <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">
  <h2> {{page.title}} </h2>
          <div class="spacersml"></div>
          <b> {{page.intro_index}} </b>

      </div>
    </div>

<div class="container-fluid">
<div class="row">



       {% for block in page.subject %}
        {% include_block block %}
    {% endfor %}



</div>
</div>
     </div>
</div>


{% endblock %}
