{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-casestudyindexpage{% endblock %}

{% block content %}

<head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    body {
padding-top: 20px; }

    div.spacermed {
    margin-top: 20px; }
    }

    div.spacerlrg {
    margin-top: 35px; }
    }

    div.thumbnail {
        float:none; margin:0 auto;
}

</style></head>



<div class="spacer"></div>
<div class="container">
     <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">
  <h2> Our Research </h2>
          <div class="spacersml"></div>
<p> Read about the many different types of research that takes place using N8 HPC.
</p>
      </div>
    </div>
</div>

     <div class="container-fluid">
    <div class="row">

        <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
      <i class="fa fa-flask fa-5x" aria-hidden="true"></i>
            <div class="spacermed"></div>
      <div class="caption">
        <h3> Chemistry </h3>
      </div>
    </div></div>



     <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
<i class="fa fa-calculator fa-5x" aria-hidden="true"></i>
         <div class="spacermed"></div>
      <div class="caption">
        <h3>Maths</h3>
      </div>
    </div>
     </div>



        <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
<i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
        <div class="spacermed"></div>
      <div class="caption">
        <h3>Engineering</h3>
      </div>
    </div></div>
    </div>


         <div class="row">
     <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
<i class="fa fa-heart-o fa-5x" aria-hidden="true"></i>
     <div class="spacermed"></div>
      <div class="caption">
        <h3>Life Sciences</h3>
      </div>
    </div></div>



     <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
<i class="fa fa-globe fa-5x" aria-hidden="true"></i>
         <div class="spacermed"></div>
      <div class="caption">
        <h3>Earth Science</h3>
      </div>
    </div></div>



     <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
          <i class="fa fa-grav fa-5x" aria-hidden="true"></i>
             <div class="spacermed"></div>
      <div class="caption">
        <h3> Physics </h3>
      </div>
    </div></div>



    </div>
    <div class="row">
     <div class="col-md-4"><div class="thumbnail">
        <div class="spacermed"> </div>
<i class="fa fa-desktop fa-5x" aria-hidden="true"></i>
         <div class="spacermed"></div>
      <div class="caption">
        <h3>Electronics and Computing</h3>
      </div>
    </div>
     </div>



        <div class="col-md-4"></div>
     <div class="col-md-4"></div>
    </div>
  </div>

  </div>


{% endblock %}
