{% extends 'base.html' %}}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-technicalpage{% endblock %}

{% block content %}

<style>
  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
  }
  </style>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

<div class="container">
  <div class="row">
    <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked">

          {% for section_heading in page.body %}
                <!--{{ forloop.counter }}-->
          <li class="active"><a href="#section{{ forloop.counter }}">{{page.section_heading}}</a></li>


                  {% for section_heading in page.body %}

                  <li><a href="#section{{ forloop.counter }}">{page.section_heading}</a></li>

                  {% endfor %}

          {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>

<div class="col-sm-9">
    {% for block in page.body %}
      <div id="section{{ forloop.counter }}">
        <h1>{{ page.sub_heading}}</h1>
            {{ page.text }}
      </div>
    {% endfor %}

    {% endblock %}