{% extends 'base.html' %}}

{% load site_tags menu_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-technicalpage{% endblock %}

{% block content %}

<style>

    a {
        color: inherit;}

  body {
      position: relative;
  }

.affix {
      top: 20px;
  }

div.spacer { margin-top: 20px; }
    div.spacerlg { margin-top: 60px; }

  </style>

<body>

    <div class="container">
        <div class="row">
        <nav class="col-sm-3 hidden-xs hidden-sm hidden-print">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="100">
                <h4> {{page.title }} </h4>
          {% for block in page.body %}
              {% if block.block_type == 'section_heading' %}
                <br><h5><a href="#section{{forloop.counter}}"> {{block.value}}</a></h5>
              {% elif block.block_type == 'sub_section_heading' %}
              <li><a href="#section{{forloop.counter}}">
                {{ block.value }}{% endif %} </a></li>
          {% endfor %}
              </ul>
        </nav>

    <div class="col-sm-8">
        <h1>{{page.title}}</h1>
        <h4>{{page.description}}</h4>
                <div class="spacerlg"></div>
        {% for block in page.body %}
          <div id="section{{forloop.counter}}">
              {% if block.block_type == 'section_heading' %}<h2>{{ block.value}}</h2> <div class="spacer"></div>
                  {% elif block.block_type == 'sub_section_heading' %}<h3>{{ block.value}}</h3> <div class="spacer"></div>
                  {% elif block.block_type == 'text' %}<p>{{ block.value}}</p> <div class="spacer"></div> <br>
              {% endif %}
          </div>
        {% endfor %}
    </div>

    </div>
</div>

</body>


{% endblock %}