{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-casestudyindexpage{% endblock %}

{% block content %}

<head><style>




        div.spacersml {
            margin-top: 20px; }

            a {color: inherit;
            }


        [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            width: 100%;
        }


        div.col-sm-6 {text-align: center;

        }

        div.card {padding: 25px; }

         img {
            display: block;
            margin: 0 auto;
        }




</style></head>

   <div class="container">
     <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">

          {% if page.intro %}

          <div class="page-header">
                <h2> {{page.title}} </h2>
          </div>
                    {{page.intro}}

          {% else %}
                <h2> {{page.title}} </h2>
          {% endif %}

      </div>
    </div>
     </div>
     </div>





  <div class="container-fluid">
      <div class="row">

{% for post in page.get_children %}
      {% with post=post.specific %}

            <div class="col-sm-6 col-md-4">
            <a href="{% pageurl post %}"> <div class="card">
              <img> {% with post.main_image as main_image %}
            {% if main_image %}{% image main_image max-250x250 %}{% endif %}
                  {% endwith %} </img>
                <div class="spacersml"></div>
                <div class="card-title">
                <h3>{{ post.title }}</h3>
              </div>
            </div>
            </a>
          </div>

        {% endwith %}
      {% endfor %}

                </div>
            </div>
   </div>


      {% endblock %}
