{% extends 'base.html' %}}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-aboutpage{% endblock %}

{% block content %}

<style>

    div.spacer {
    margin-top: 30px; }

       div.spacerlrg {
    margin-top: 60px; }


  body {
      position: relative;
  }

  ul.nav-pills {
      top: 16px;
      position: fixed;

  }
  div.col-sm-8 div {
      left: 50px;
  }

  .nav-pills {position: fixed;
      margin-top:50px;}

  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8 {
        margin-left: 150px;
    }
  }

    @media (min-width: 768px) {
    .affix {
        position: fixed;
    }
}

    @media (max-width: 767px) {
    .affix {
        position: static;
    }
}
  </style>

<body data-spy="scroll" data-target=".nav" data-offset="20">

<div class="container">
  <div class="row">

    <nav class="col-sm-4">
      <ul class="nav nav-pills nav-stacked">

      {% for block in page.body %}
          {% if block.block_type == 'section_heading' %}
          <li {% if forloop.counter == 1 %}class="active"{% endif %}><a href="#section{{forloop.counter}}">
            {{ block.value }}{% endif %} </a></li>
      {% endfor %}

          </ul>
    </nav>


<div class="col-sm-8">

    {{page.title}}

    {% for block in page.body %}
      <div id="section{{forloop.counter}}">
          {% if block.block_type == 'section_heading' %}<h1>{{ block.value}}</h1>{% endif %}
          {% if block.block_type == 'text' %}<p>{{ block.value}}</p>{% endif %}
      </div>
    {% endfor %}

</div>

  </div>
</div>
</body>


{% endblock %}
