{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-contact_page{% endblock %}

{% block content %}

<style> div.spacer {margin-top: 20px;} </style>

<div class="container-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

<h2>{{ page.title }}</h2>
<br>
    <article>
    {% for block in page.body %}
            <section>
                {% if block.block_type == 'heading' %}<h3>{{ block.value}}</h3> <div class="spacer"></div>
                {% else %}
                {% include_block block %}
                {% endif %}
            </section>
    {% endfor %}

        <a href="https://twitter.com/N8HPC">
<i class="fa fa-twitter" aria-hidden="true" style="font-size: 40px; color: inherit; left: 0"></i></a>
</article>

    </div>
    </div>
{% endblock %}
