{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-ourresearchsubjectpage{% endblock %}

{% block content %}


<head>
<style> body {
padding-top: 20px; }div.spacermed {
    margin-top: 30px; }
    }div.spacer {
    margin-top: 500px; }
    }
</style></head>


<div class="container">
     <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center">
  <h1> {{page.title}} </h1>
          <div class="spacersml"></div>
      </div>
    </div>
</div>

    {% for post in page.get_children %}
            {% with post=post.specific %}


         <div class="media">
          <div class="media-left" style="padding-right: 40px;">
         {% with post.main_image as main_image %}
            {% if main_image %}{% image main_image max-150x150 %}{% endif %}
        {% endwith %}
          </div>


          <div class="media-body">
              <h2 class="media-heading"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                <h5> {{ post.organiser }} </h5>
                <b> {{ post.date }}, {{ post.start_time }} - {{ post.end_time }} </b>
                <p> {{ post.location}} </p>

<body>

<head>
    <!-- 1. Include style -->
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
</head>
    <!-- 2. Include script -->
    <script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <!-- 3. Place event data -->
    <span class="addtocalendar atc-style-blue">
        <var class="atc_event">
            <var class="atc_date_start">{{ post.date }} {{post.start_time}}</var>
            <var class="atc_date_end">{{ post.date }} {{post.end_time}}</var>
            <var class="atc_timezone">Europe/London</var>
            <var class="atc_title">{{ post.title }}</var>
            <var class="atc_location"> {{ post.location }} </var>
            <var class="atc_organizer"> {{ post.organiser}}</var>
        </var>
    </span>
</body>
         <a class="btn btn-default btn-md"><i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i>
Add to Calendar</a>
              <a class="btn btn-default btn-md" href="#"><i class="fa fa-share-alt fa-fw"></i> Share </a>



        <div class="spacermed"></div>
        <hr>
        <div class="spacermed"></div>


          </div></div>
        {% endwith %}
    {% endfor %}

{% endblock %}

