{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-eventpage{% endblock %}

{% block content %}

<head>
<style>

div.spacermed {
    margin-top: 10px; }

div.spacerlg {
    margin-top: 30px; }

    ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

</style>
    <link rel="stylesheet" href="../../../mysite/static/css/mdb.css">
</head>

 <div class="media">
  <div class="media-left" style="padding-right: 25px;">
{% for item in page.gallery_images.all %}
        <div  style="margin: 10px">
            {% image item.image max-250x250 %}
        </div>
    {% endfor %}
  </div>


  <div class="media-body">
      <h1 class="media-heading"> {{ page.title }} </h1>
    <h4> {{ page.organiser }} </h4>
      <b> {{ page.date }}, {{ page.start_time }} - {{ page.end_time }} </b>
      <p> {{ page.location}} </p>


<div class="row" style="margin-left: auto">

<head>
    <!-- 1. Include style -->
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
</head>
    <!-- 2. Include script -->
    <script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <!-- 3. Place event data -->
    <span class="addtocalendar atc-style-blue">
        <var class="atc_event">
            <var class="atc_date_start">{{ page.date }} {{page.start_time}}</var>
            <var class="atc_date_end">{{ page.date }} {{page.end_time}}</var>
            <var class="atc_timezone">Europe/London</var>
            <var class="atc_title">{{ page.title }}</var>
            <var class="atc_location"> {{ page.location }} </var>
            <var class="atc_organizer"> {{ page.organiser}}</var>
        </var>
    </span>



    <div class="spacermed"></div>

      <ul class="share-buttons">

  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2F127.0.0.1%3A8000%2F" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
</a></li>

  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
  </a></li>

  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2F127.0.0.1%3A8000%2F&text=:%20http%3A%2F%2F127.0.0.1%3A8000%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
</a></li>

  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2F127.0.0.1%3A8000%2F&title=&summary=&source=http%3A%2F%2F127.0.0.1%3A8000%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
</a></li>

</ul>
</div>


    <article>
    {% for block in page.body %}
            <section>
                {% include_block block %}
            </section>
     {% endfor %}

</article>


<div class="spacerlg"></div>

 <a class="btn btn-primary btn-sm" href="{{ page.get_parent.url }}"> Return to Events </a>
          <div class="spacer"></div>

<div class="spacerlg"></div>


{% if page.tags.all.count %}
<div class="tags">
    <h5> Tags </h5>
    {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button" class="btn btn-default btn-md">{{ tag }}</button></a>
    {% endfor %}
</div>
{% endif %}

      <div class="spacerlg"></div>




{% endblock %}
