{% load menu_tags site_tags static wagtailuserbar %}

<html lang="{% if request.LANGUAGE_CODE %}{{ request.LANGUAGE_CODE }}{% else %}en{% endif %}">
    <head>
        <!-- This meta tag *must* come first in the head; any other head content must come *after* these tag -->
        <meta charset="utf-8">

        <!-- Block head meta -->
	{% block head-meta %}

	<!-- The following two meta tags *must* come next in the head; any other head content must come *after* these tags -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% endblock %}

        <!-- Page title -->
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <!-- Block head css -->
	{% block head-css %}

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

		<!--will need to resolve these with my own CSS-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.1/css/mdb.min.css" >
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >

        {% endblock %}

        <!-- Block head javascript -->
	{% block head-javascript %}
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% endblock %}

        <!-- Block head extension -->
        {% block head-extension %}{% endblock %}
    </head>
    <body class="index-page">
        <!-- Block body content -->

        <!-- Block body javascript -->
	{% block body-javascript %}

	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.1/js/mdb.min.js"></script>
        	{% endblock %}

    </head>


        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}


  <div class="container">
     <div class="row">
         <div class="col-md-12">

             <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}



  {% if user.is_authenticated %}
        <footer class="footer">
      <div class="container">
<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
<a href="{% url 'logout' %}" class="btn btn-md btn-primary btn-block" style="position: absolute;" role="submit">Log Out</a>
 {% endif %}

    </body>
        </div>
        </div>
        </div>
</html>