{% extends "base.html" %}

{% block content %}


<head><style>

    div.spacermed {
    margin-top: 40px; }

        div.spacersml {
    margin-top: 20px; }


</style></head>

<div class="spacermed"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-4 col-md-offset-4">

        <h3>Password required</h3>
        <form action="{{ action_url }}" method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}
        <div class="spacermed"></div>

            <div>
                {{ form.password.errors }}
                {{ form.password }}
            </div>
        <div class="spacersml"></div>
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}


            <button class="btn btn-md btn-primary btn-block btn-signin" type="submit">Continue</button>

        </form>
    </body>

        {% endblock %}
