{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<head><style>   body {
padding-top: 20px; }div.spacermed {
    margin-top: 30px; }
                div.spacersml {
    margin-top: 20px; }</style></head>

    <h1>{{ page.title }}</h1>
    <div class="spacermed"></div>

{% for post in page.get_children %}
    {% with post=post.specific %}
        <h2><b>{{ post.title }}</b></h2>
        <p class="meta"> {{ post.date }} </p>
        <div class="spacersml"></div>
        {{ post.body}}
        <div class="spacermed"></div>
        <hr>
        <div class="spacermed"></div>
    {% endwith %}
{% endfor %}



{% endblock %}