{% extends 'base.html' %}}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-eventpage{% endblock %}

{% block content %}

<head>
<style> body {
padding-top: 20px; }

</style></head>


<!--<link href="http://addtocalendar.com/atc/1.5/atc-base.css" rel="stylesheet" type="text/css">-->
    <!--&lt;!&ndash; 2. Include script &ndash;&gt;-->
    <!--<script type="text/javascript">(function () {-->
            <!--if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;-->
            <!--if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;-->
                <!--var d = document, s = d.createElement('script'), g = 'getElementsByTagName';-->
                <!--s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;-->
                <!--s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';-->
                <!--var h = d[g]('body')[0];h.appendChild(s); }})();-->
    <!--</script>-->

       <!--<span class="addtocalendar btn btn-default btn-md"><i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i>-->
        <!--<var class="atc_event">-->
            <!--<var class="atc_date_start">2017-05-04 12:00:00</var>-->
            <!--<var class="atc_date_end">2017-05-04 18:00:00</var>-->
            <!--<var class="atc_timezone">Europe/London</var>-->
            <!--<var class="atc_title">Star Wars Day Party</var>-->
            <!--<var class="atc_description">May the force be with you</var>-->
            <!--<var class="atc_location">Tatooine</var>-->
            <!--<var class="atc_organizer">Luke Skywalker</var>-->
            <!--<var class="atc_organizer_email">luke@starwars.com</var>-->
        <!--</var>-->
    <!--</span>-->



<p class="meta"> {{ page.date }} </p>


 <div class="media">
  <div class="media-left">
{% for item in page.gallery_images.all %}
        <div  style="margin: 10px">
            {% image item.image fill-175x80 %}
        </div>
    {% endfor %}
  </div>


  <div class="media-body">
      <h1 class="media-heading"> {{ page.title }} </h1>
    <h4> {{ page.organiser }} </h4>
      <b> {{ page.date_time }} </b>
      <p> {{ page.location}} </p>

      <a class="btn btn-default btn-md"><i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i>
Add to Calendar</a>
              <a class="btn btn-default btn-md" href="#"><i class="fa fa-share-alt fa-fw"></i> Share </a>


    <article>
    {% for block in page.body %}
            <section>
                {% include_block block %}
            </section>
    {% endfor %}

</article>


{% if page.tags.all.count %}
<div class="tags">
    <h5> Tags </h5>
    {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button" class="btn btn-default btn-md">{{ tag }}</button></a>
    {% endfor %}
</div>
{% endif %}


<p><a href="{{ page.get_parent.url }}">Return to Events</a></p>

  </div></div>

{% endblock %}
